.DS_Store
log.txt
pid.txt
*.app
*.xcodeproj
*.pbxproj
.xcscheme
project.pbxproj
*xcworkspace/
xcshareddata/**
**ffmpeg_compiled/
glitch_photo_booth
glitch_photo_booth/
glitch_photo_boothDebug
glitch_photo_boothDebug/
*.mp4
*.mov
creds/
node_modules/
